#notion-word-count-label-parent {
  position: absolute;
  z-index: 2;
  padding: 6px 12px;
  right: 45px;
  padding-right: 30px;
  bottom: 26px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: inherit;
  border-radius: 3px;
  font-size: 14px;
}
